<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webproject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet">
   


</head>
<body>
  <!--Navigation-->
      <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container">
      <div class="navbar-brand " id="logo"><img src="~/img/busserk.png"> </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
         <div class="collapse navbar-collapse mt-5" id="navbar">

        <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown menu-area">
        <a class="nav-link dropdown-toggle" href="#" id="mega-one" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >SERVICES</a>
        <div class="menu-sub">
              
              <div class="menu-col-1">
                <h3 class="menu-category">PRODUCT&CATEGORIES</h3>
                <ul>
                  <li><a href="/home/Error">Accessories</a></li>
                  <li><a href="/home/Error">Alcohol</a></li>
                  <li><a href="/home/Error">Art</a></li>
                  <li><a href="/home/Error">Books</a></li>
                  <li><a href="/home/Error">Drink</a></li>
                  <li><a href="/home/Error">Electronics</a></li>
                  <li><a href="/home/Error">Flowers&Plants</a></li>
                  <li><a href="/home/Error">Food</a></li>

                </ul>    
              </div>

              <div class="menu-col-1"><br>
                <h1 class="menu-category"></h1>
                <ul>
                  <li><a href="/home/Error">Gadgets</a></li>
                  <li><a href="/home/Error">Garden</a></li>
                  <li><a href="/home/Error">Grocery</a></li>
                  <li><a href="/home/Error">Home</a></li>
                  <li><a href="/home/Error">Jewelry</a></li>
                  <li><a href="/home/Error">Kids&Baby</a></li>
                  <li><a href="/home/Error">Men's Fashion</a></li>
                  <li><a href="/home/Error">Mobile</a></li>
                </ul>
              </div>

              <div class="menu-col-1"><br><br>
                <ul>
                  <li><a href="/home/Error">Motorcycles</a></li>
                  <li><a href="/home/Error">Movies</a></li>
                  <li><a href="/home/Error">Music</a></li>
                  <li><a href="/home/Error">Office</a></li>
                  <li><a href="/home/Error">Pets</a></li>
                  <li><a href="/home/Error">Romantic</a></li>
                  <li><a href="/home/Error">Sport</a></li>
                  <li><a href="/home/Error">Toys</a></li>
                </ul>
              </div>

              <div class="menu-col-1">
               <h3 class="menu-category">SALE</h3>
                <ul>
                  <li><a href="/home/Error">Accessories</a></li>
                  <li><a href="/home/Error">Alcohol</a></li>
                  <li><a href="/home/Error">Art</a></li>
                  <li><a href="/home/Error">Books</a></li>
                  <li><a href="/home/Error">Drink</a></li>
                  <li><a href="/home/Error">Electronics</a></li>
                  <li><a href="/home/Error">Flowers&Plants</a></li>
                  <li><a href="/home/Error">Food</a></li>
                </ul>
              </div>
              <div class="menu-col-1"><br>
                <h3 class="menu-category"></h3>
                <ul>
                  <li><img src="~/img/kucuk.jpg"  height="250" width="300" ></li>
                 
                </ul>
              </div>

            </div>
      </li>
       <li class="nav-item ml-2">
        <a class="nav-link" href="#">COMPANY</a>
      </li>
       <li class="nav-item ml-2">
        <a class="nav-link" href="#">LIBRARY</a>
      </li>
       <li class="nav-item ml-2">
        <a class="nav-link" href="#">CONTACT US</a>
      </li>
      <li class="nav-item dropdown ml-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        EN
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
        </div>
      </li>
      <li class="nav-item dropdown ml-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        $US
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
        </div>
      </li>
      <div class="margin-icon">
      <i class="fas fa-search ml-5"></i>
       <i  class="far fa-user ml-4" data-toggle="modal" data-target="#myModal" data-whatever=""></i> 
      <i class="far fa-heart ml-4" ></i>
      <i class="fas fa-shopping-bag ml-4" ></i>
      </div>
     </ul>
    </div>
      </div>
  </nav>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" >Sign in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
             <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
              <label for="pwd">Password:</label>
            
              <input type="password" class="form-control" value="" id="myInput"  placeholder="Enter password">

             </div>
              <div class="checkbox">
              <input type="checkbox" onclick="myFunction()">Show Password
              <i><a href="#">I don't have an account</a></i>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>
</div>


    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
      <!-- JS and Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<!-- logincloseEsc -->
   <script>
     $('#logo').click(function(){
       window.location='/home';
     })
    $('#myModal').on('keydown', function(e) {
       if (e.keyCode == 27)
       window.close();
        });
 //PasswordVisibility
function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>