@{
    ViewData["Title"] = "BussErk Project";
}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet">

     <!-- LoadMore  -->
    <script src="~/load-more-  button.js"></script>
    <link href="~/load-more-button.css" rel="stylesheet">

     <!-- Product  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>
    <body>
        <!--button-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}

</style>
    <!-- Image Slider -->
    
    <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
           <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/cc.jpeg">
                <div class="carousel-caption">
                    <h5 class="display-4">Control and manage any device with cloud solutions</h5><br>
                    <h5 class="display-5 text-rigth">Improve business performance and user experience
                        with the right mix of IoT technology and processes
                    </h5>
                    <button type="button" class="btn btn-outline-light btn-lg mt-5">VIEW MORE</button>
                </div>
             </div>
              <div class="carousel-item ">
                   <div class="carousel-caption">
                    <h5 class="display-4">Control and manage any device with cloud solutions</h5><br>
                    <h5 class="display-5 text-rigth">Improve business performance and user experience
                        with the right mix of IoT technology and processes
                    </h5>
                    <button type="button" class="btn btn-outline-light btn-lg mt-5">VIEW MORE</button>
                </div>
                <img src="~/img/aa.jpeg">
             </div>
              <div class="carousel-item ">
                   <div class="carousel-caption">
                    <h5 class="display-4">Control and manage any device with cloud solutions</h5><br>
                    <h5 class="display-5 text-rigth">Improve business performance and user experience
                        with the right mix of IoT technology and processes
                    </h5>
                    <button type="button" class="btn btn-outline-light btn-lg rounded mt-5">VIEW MORE</button>
                </div>
                <img src="~/img/bb.jpeg">
             </div>

        </div>
    </div>   
    
    <hr class="my-12">
     <!-- Popular Items -->
     <div class="container">
         <div class="row welcome text-center">
             <div class="col-12">
                 <h1 class="display-4">Popular Items</h1>
             </div>
             <hr>
         </div>
     </div>
    <div class="container">
    <div class="row padding">
           <div class="col-md-3">
            <div class="card show-image">
           <img src="~/img/a.jpg"  class="image">
           <i class="fas fa-plus-square fa-3x text-success"></i>
             <i class="fas fa-heart fa-3x text-danger"></i>
             <p class="card-text"> New product bhsıa saosıj <br>$799.55</p>
             </div>
          </div>
          <div class="col-md-3">
          <div class="card show-image">
           <img src="~/img/a.jpg"  class="image">
           <i class="fas fa-plus-square fa-3x text-success"></i>
             <i class="fas fa-heart fa-3x text-danger"></i>
             <p class="card-text"> New product bhsıa saosıj <br>$799.55</p>
             </div>
          </div>
             <div class="col-md-3">
            <div class="card show-image">
           <img src="~/img/a.jpg"  class="image">
           <i class="fas fa-plus-square fa-3x text-success"></i>
             <i class="fas fa-heart fa-3x text-danger"></i>
             <p class="card-text"> New product bhsıa saosıj <br>$799.55</p>
             </div>
          </div>
             <div class="col-md-3">
            <div class="card show-image">
           <img src="~/img/a.jpg"  class="image"/>
           <i class="fas fa-plus-square fa-3x text-success"></i>
             <i class="fas fa-heart fa-3x text-danger"></i>
      
             <p class="card-text"> New product bhsıa saosıj <br>$799.55</p>
             </div>
          </div>
             <div class="row-6 col-md-3">
            <div class="card show-image">
           <img src="~/img/a.jpg"  class="image"/>
           <i class="fas fa-plus-square fa-3x text-success"></i>
             <i class="fas fa-heart fa-3x text-danger"></i>
             <p class="card-text"> New product bhsıa saosıj <br>$799.55</p>
             </div>
          </div>
           <div class="row-6 col-md-3">
            <div class="card show-image">
           <img src="~/img/a.jpg"  class="image"/>
           <i class="fas fa-plus-square fa-3x text-success"></i>
             <i class="fas fa-heart fa-3x text-danger"></i>
             <p class="card-text"> New product bhsıa saosıj <br>$799.55</p>
             </div>
          </div>
           <div class="row-6 col-md-3">
            <div class="card show-image">
              
           <img src="~/img/a.jpg"  class="image"/>
             <i class="fas fa-plus-square fa-3x text-success"></i>
             <i class="fas fa-heart fa-3x text-danger"></i>
             <p class="card-text"> New product bhsıa saosıj <br>$799.55</p>
             </div>
          </div>
           <div class="row-6 col-md-3">
            <div class="card show-image">
           <img src="~/img/a.jpg"  class="image">
           <i class="fas fa-plus-square fa-3x text-success"></i>
             <i class="fas fa-heart fa-3x text-danger"></i>
             <p class="card-text"> New product bhsıa saosıj <br>$799.55</p>
             </div>
          </div>
    </div>
    </div><br>
     
        <div class="container">
            <div class="padding text-center">
                <div id="loadMore" class="text-center" style="">
                   <button type="button" class="rounded-pill"> <a href="#">Load MORE</a></button>

                 </div>
            </div>
        </div>
        <hr class="my-12">
     
   
    <!-- Full Width Image -->
    <div class="container-fluid padding">
        <div class="padding">
            <img  src="~/img/instagramir.jpg" width="1090" height="300" >
        </div>
    </div>
<hr>
  
     <!-- Footer-->
     
   <footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
 
      <small class="d-block mb-3 text-muted">&copy;Copyright2019</small>
      <small class="d-block mb-3 text-muted">All Rights Reserved.</small><br>

      <h5>CONTACT</h5>
        <small class="d-block mb-3 text-muted">Headquarters:</small>
        <small class="d-block mb-3 text-muted">5600,Blvd.des Galeries,Bur 530</small>
        <small class="d-block mb-3 text-muted">Quebec,Quebec G2K 2H6</small><br>
        <small class="d-block mb-3 text-muted"><a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">contact@osf-global.com</a></small><br>
        <small class="d-block mb-3 text-muted">+1 (888)548-4344</small>
    </div>

    <div class="col-6 col-md">
      <h5>CATEGORIEST</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/home/Error">Alcohol</a></li>
        <li><a class="text-muted" href="/home/Error">Art</a></li>
        <li><a class="text-muted" href="/home/Error">Books</a></li>
        <li><a class="text-muted" href="/home/Error">Drink</a></li>
        <li><a class="text-muted" href="/home/Error">Electronic</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>  </h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/home/Error">Home</a></li>
        <li><a class="text-muted" href="/home/Error">Jewelry</a></li>
        <li><a class="text-muted" href="/home/Error">Kids&Baby</a></li>
        <li><a class="text-muted" href="/home/Error">Men's Fashion</a></li>
        <li><a class="text-muted" href="/home/Error">Mobile</a></li>
        <li><a class="text-muted" href="/home/Error">Motorcycles</a></li>
        <li><a class="text-muted" href="/home/Error">Movies</a></li>
        <li><a class="text-muted" href="/home/Error">Music</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5></h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/home/Error">Sport</a></li>
        <li><a class="text-muted" href="/home/Error">Toys</a></li>
        <li><a class="text-muted" href="/home/Error">Travel</a></li>
        <li><a class="text-muted" href="/home/Error">Women's Fashion</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>ABOUT</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/home/Error">About Us</a></li>
        <li><a class="text-muted" href="/home/Error">Delivery</a></li>
        <li><a class="text-muted" href="/home/Error">Testimonials</a></li>
        <li><a class="text-muted" href="/home/Error">Contact</a></li>
      </ul>
    </div>
       
       <div class="margin-icon">        	
              <i class="fab fa-facebook-f ml-4"></i> 
              <i class="fab fa-google-plus ml-4"></i>
              <i class="fab fa-twitter ml-4"></i>
              <i class="fab fa-pinterest-p ml-4"></i>
  </div>
</footer>
  

  </body>
</html>

